# Writing A Data Science Blog Post
## 

### By: David Herr
### Dated: August 2nd, 2020

A Jupyter notebook aimed to complete the Udacity Data Science Nanodegree Project 1. In the project, students are to use the CRISP-DM process to understand, prepare, model, and evaluate data to answer real-world business questions.

First, we'll bring in the packages used to complete the project.

In [1]:
# data import and manipulation 
import numpy as np
import pandas as pd

# plotting and graphing
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# text analysis, mining, and sentiment
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# linear regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dlher\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dlher\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dlher\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

#### 1) Pick A Dataset

Although the traditional CRISP-DM path is to start with business questions, the Udacity Data Science program provided datasets to start with. Thus, we'll start with those datasets and read them in to the notebook.

In [2]:
# Read in Boston dataset
df_boston = pd.read_csv('./_data/listings_boston.csv')

df_boston.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [3]:
# Read in Seattle dataset
df_seattle = pd.read_csv('./_data/listings_seattle.csv')

df_seattle.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

### 2) Pose 3-5 Business Questions
Leveraging this data, we are curious to find out if:

    1. Bedroom or Bathroom count generally correlates to higher pricing?
    2. Are there certain neighborhoods which command generally higher pricing?
    3. Does containing a top N keyword in descriptions result in higher pricing?
    4. Are ratings predictive of pricing?

In [4]:
#### 3) Use CRISP_DM 
To answer these questions, we'll use what is known as the CRISP_DM process. This process is pictated below:

![Image of CRISP_DM](_img\CRISP_DM.png)

SyntaxError: invalid syntax (<ipython-input-4-e1c5fbd009e0>, line 2)

##### 3.1) Business Understanding

In [ ]:
# Pricing must be cleaned as the column contains strings, floats, and ints.
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
    return(x)

def price_analysis_plots(dataframe, is_vertical = True):

    # Clean the pricing column for strings and integer variations
    dataframe['price'] = dataframe['price'].apply(clean_currency).astype('float')

    # Select all x variables in dataframe
    x_variables =  dataframe.columns[dataframe.columns != 'price']

    # Ensure all x variables are of string datatype
    # Not totally robust, but provides simple compatibility with seaborn barplot() function
    dataframe[x_variables] = dataframe[x_variables].astype('str')
    
    # How many categorical variables are there to plot?
    x_count = len(x_variables)

    # Set up a plot based on number of categorical variables
    plt_rows = x_count // 2 + x_count % 2

    if x_count > 1:
        plt_cols = 2
    else:
        plt_cols = 1
    
    plt.figure(figsize = [5 * x_count, 16])

    # Loop through variables to add to figure. 
    for index, variable in enumerate(x_variables):
        plt.subplot(plt_rows, plt_cols,index + 1)
        
        # If horizontal requested, set-up fariable to flip chart horizontal
        if is_vertical:
            bar_orientation = 'v'
            sns.barplot(x=variable,y='price',data=dataframe,orient=bar_orientation)
        else:
            bar_orientation = 'h'
            sns.barplot(x='price',y=variable,data=dataframe,orient=bar_orientation)

#define dataframes to plot against price
boston_bed_bath_bar = df_boston[['price','bedrooms','bathrooms','beds','bed_type']]

# Invoke function
price_analysis_plots(boston_bed_bath_bar)

In [ ]:
# Set-up price for neighborhoods
neighborhood_bar = df_boston[['price','neighbourhood_cleansed']]

price_analysis_plots(neighborhood_bar, False)

##### 3.2) Data Understanding

While the head() method is useful, a more thorough understanding of all the available columns, datatypes, as well as profile of that data, is necessary before moving on to preparing the data for modeling.

In [7]:
# To be able to understand both datesets quickly, let's put them into a list
df_list = [df_boston,df_seattle]

# And see the overall shape of each data frame, column names, and column data types
for dataframe in df_list:
    print("Dataframe Shape:{}".format(dataframe.shape))
    for col in dataframe:
        print("{}:{}".format(col,dataframe[col].dtypes))

Dataframe Shape:(3585, 95)
id:int64
listing_url:object
scrape_id:int64
last_scraped:object
name:object
summary:object
space:object
description:object
experiences_offered:object
neighborhood_overview:object
notes:object
transit:object
access:object
interaction:object
house_rules:object
thumbnail_url:object
medium_url:object
picture_url:object
xl_picture_url:object
host_id:int64
host_url:object
host_name:object
host_since:object
host_location:object
host_about:object
host_response_time:object
host_response_rate:object
host_acceptance_rate:object
host_is_superhost:object
host_thumbnail_url:object
host_picture_url:object
host_neighbourhood:object
host_listings_count:int64
host_total_listings_count:int64
host_verifications:object
host_has_profile_pic:object
host_identity_verified:object
street:object
neighbourhood:object
neighbourhood_cleansed:object
neighbourhood_group_cleansed:float64
city:object
state:object
zipcode:object
market:object
smart_location:object
country_code:object
country:object
latitude:float64
longitude:float64
is_location_exact:object
property_type:object
room_type:object
accommodates:int64
bathrooms:float64
bedrooms:float64
beds:float64
bed_type:object
amenities:object
square_feet:float64
price:object
weekly_price:object
monthly_price:object
security_deposit:object
cleaning_fee:object
guests_included:int64
extra_people:object
minimum_nights:int64
maximum_nights:int64
calendar_updated:object
has_availability:float64
availability_30:int64
availability_60:int64
availability_90:int64
availability_365:int64
calendar_last_scraped:object
number_of_reviews:int64
first_review:object
last_review:object
review_scores_rating:float64
review_scores_accuracy:float64
review_scores_cleanliness:float64
review_scores_checkin:float64
review_scores_communication:float64
review_scores_location:float64
review_scores_value:float64
requires_license:object
license:float64
jurisdiction_names:float64
instant_bookable:object
cancellation_policy:object
require_guest_profile_picture:object
require_guest_phone_verification:object
calculated_host_listings_count:int64
reviews_per_month:float64
Dataframe Shape:(3818, 92)
id:int64
listing_url:object
scrape_id:int64
last_scraped:object
name:object
summary:object
space:object
description:object
experiences_offered:object
neighborhood_overview:object
notes:object
transit:object
thumbnail_url:object
medium_url:object
picture_url:object
xl_picture_url:object
host_id:int64
host_url:object
host_name:object
host_since:object
host_location:object
host_about:object
host_response_time:object
host_response_rate:object
host_acceptance_rate:object
host_is_superhost:object
host_thumbnail_url:object
host_picture_url:object
host_neighbourhood:object
host_listings_count:float64
host_total_listings_count:float64
host_verifications:object
host_has_profile_pic:object
host_identity_verified:object
street:object
neighbourhood:object
neighbourhood_cleansed:object
neighbourhood_group_cleansed:object
city:object
state:object
zipcode:object
market:object
smart_location:object
country_code:object
country:object
latitude:float64
longitude:float64
is_location_exact:object
property_type:object
room_type:object
accommodates:int64
bathrooms:float64
bedrooms:float64
beds:float64
bed_type:object
amenities:object
square_feet:float64
price:object
weekly_price:object
monthly_price:object
security_deposit:object
cleaning_fee:object
guests_included:int64
extra_people:object
minimum_nights:int64
maximum_nights:int64
calendar_updated:object
has_availability:object
availability_30:int64
availability_60:int64
availability_90:int64
availability_365:int64
calendar_last_scraped:object
number_of_reviews:int64
first_review:object
last_review:object
review_scores_rating:float64
review_scores_accuracy:float64
review_scores_cleanliness:float64
review_scores_checkin:float64
review_scores_communication:float64
review_scores_location:float64
review_scores_value:float64
requires_license:object
license:float64
jurisdiction_names:object
instant_bookable:object
cancellation_policy:object
require_guest_profile_picture:object
require_guest_phone_verification:object
calculated_host_listings_count:int64
reviews_per_month:float64

##### 3.3) Data Preperation
In this section, we will be using our above observations to guide both the initial cleansing of our data, as well as initial transformations for feature creation.

**Column Cleansing**
***

We'll start with the data cleansing process on the columns. This will largely involve removing:

- [x]  100% empty
- [x]  Columns with 100% of the same value
- [x]  Database identifications
- [x]  Non-overlapping columns

In [ ]:
# Start with dropping columns in all data sets that are 100% na
for dataframe in df_list:
    dataframe.dropna(axis = 1, how = 'all',inplace = True)

In [ ]:
# Remove the unnecssary id, url, and scraping columns
def drop_ident_columns(dataframe_list,word_list):
    for dataframe in dataframe_list:
        for word in word_list:
            drop_columns = [col for col in dataframe.columns if col.endswith(word)]
            dataframe.drop(drop_columns, axis = 1,inplace = True)

# Define search words to drop common identification column suffixes
search_words = ['_id','_url','_scraped']

# Invoke function to drop id, url, and scraping columns
drop_ident_columns(df_list,search_words)

In [ ]:
# Remove columns where all values are the same (equivalant of 100% empty)
def drop_same_columns(dataframe_list):
    for dataframe in dataframe_list:
        nunique = dataframe.apply(pd.Series.nunique)
        drop_columns = nunique[nunique ==1].index
        dataframe.drop(drop_columns, axis = 1,inplace = True)

# Invoke function to drop any columns containing rows with 100% the same data point
drop_same_columns(df_list)

In [ ]:
# Drop columns which do not overlap between the two datasets
def drop_nonoverlap_columns(df1,df2):
    # Find overlapping/instersecting columns between the two datasets
    intersecting_columns = set(df1.columns) & set(df2.columns)

    # Assign each dataset it's own drop columns based off the complete list of intersections
    for dataframe in df1, df2:
        drop_columns = set(dataframe.columns) - intersecting_columns
        dataframe.drop(drop_columns, axis = 1, inplace = True)

# Invoke function to drop non-overlapping columns between two datasets    
drop_nonoverlap_columns(df_boston,df_seattle)

# Check to make sure all columns are overlapping between dataframes
sum((df_boston.columns == df_seattle.columns)) / ((len(df_boston.columns) + len(df_seattle.columns)) / 2 ) == 1

**Row & Data Cleansing**
***
Next, we'll move into basic *row cleansing* for items we know will break a linear regression model. This includes:

- [x]  True/False - transform to a true boolean rather than text "t" or "f".
- [x]  Substantial Text - must be transformed into a text analytics feature.
- [ ]  Date Columns - drop or transform into a duration if business questions warrant.

In [ ]:
# Function to clean t/f columns to true Booleans
def cleanse_data_tf_to_boolean(dataframe_list):

    for dataframe in dataframe_list:

        column_list = []

        for col in dataframe.columns:
            if sum(dataframe[col].isin(['t','f'])) == len(dataframe[col]):
                column_list.append(col)

        for col in column_list:
            dataframe.loc[(dataframe[col] == 't'),col] = True
            dataframe.loc[(dataframe[col] == 'f'),col] = False

# Invoke function to change 't' or 'f' to true Boolean values
cleanse_data_tf_to_boolean(df_list)

In [8]:
#  Define text columns which require processing for text analytics
text_cols = ['name','summary','space','description','neighborhood_overview', 'notes']

# Begin text mining by defining stop words and lemmatizer dictionary
stop_words = stopwords.words("english")
lemmatizer = WordNetLemmatizer()

# Function to perform basic tokenization of text columns
def tokenize(text):
    # normalize case and remove punctuation
    text = re.sub(r"[^a-zA-Z0-9]", " ", text.lower())
    
    # tokenize text
    tokens = word_tokenize(text)
    
    # lemmatize andremove stop words
    tokens = [lemmatizer.lemmatize(word) for word in tokens if word not in stop_words]

    return tokens

# Loop through dataframes and text cols to tokenize
def tokenize_text_cols(dataframe_list):

    for dataframe in dataframe_list:
        for col in text_cols:
            colname = col + '_tokenized'
            dataframe[colname] = dataframe[col].apply(str).apply(tokenize)

# Invoke tokenization as add columns in both dataframes
tokenize_text_cols(df_list)

In [9]:
# initialize count vectorizer object
vect = CountVectorizer(tokenizer=tokenize)

# get counts of each token (word) in text data
X = vect.fit_transform(df_boston['summary'].apply(str))

# convert sparse matrix to numpy array to view
X.toarray()

# view token vocabulary and counts
vect.vocabulary_

{'cozy': 1360,
 'sunny': 4230,
 'family': 1836,
 'home': 2295,
 'master': 2836,
 'bedroom': 740,
 'high': 2268,
 'ceiling': 1031,
 'deck': 1449,
 'garden': 2052,
 'hen': 2259,
 'beehive': 744,
 'play': 3339,
 'structure': 4186,
 'short': 3921,
 'walk': 4665,
 'charming': 1075,
 'village': 4631,
 'attractive': 625,
 'store': 4164,
 'grocery': 2155,
 'local': 2701,
 'restaurant': 3674,
 'friendly': 2007,
 'neighborhood': 3035,
 'access': 385,
 'public': 3477,
 'transportation': 4448,
 'quiet': 3505,
 'room': 3743,
 'second': 3840,
 'floor': 1939,
 '1910': 113,
 'condo': 1247,
 'building': 928,
 'full': 2016,
 'size': 3965,
 'bed': 736,
 'darkening': 1429,
 'curtain': 1408,
 'window': 4757,
 'c': 963,
 'unit': 4537,
 'back': 659,
 'house': 2326,
 'shared': 3899,
 'bathroom': 704,
 'guest': 2165,
 'use': 4576,
 'kitchen': 2561,
 'living': 2693,
 'pet': 3284,
 'come': 1195,
 'stay': 4136,
 'middle': 2899,
 'aged': 445,
 'guy': 2173,
 'safe': 3781,
 'roslindale': 3754,
 'boston': 857,
 'clean': 1138,
 'furnished': 2028,
 'cable': 968,
 'tv': 4499,
 'wi': 4743,
 'fi': 1886,
 'desk': 1500,
 'work': 4787,
 'apartment': 532,
 'filled': 1892,
 'mexican': 2889,
 'folk': 1953,
 'art': 591,
 'experience': 1797,
 'comfort': 1196,
 'away': 651,
 'fabulous': 1823,
 'suite': 4217,
 'available': 636,
 'enjoy': 1708,
 'sleeping': 3984,
 'large': 2605,
 'king': 2555,
 'sized': 3966,
 'plush': 3352,
 'bedding': 737,
 'dishwasher': 1534,
 'washer': 4695,
 'dryer': 1605,
 'gym': 2174,
 'incredibly': 2401,
 'accessible': 388,
 'center': 1040,
 'free': 1992,
 'street': 4177,
 'parking': 3225,
 'right': 3707,
 'front': 2012,
 'weekend': 4715,
 'farmer': 1853,
 'market': 2819,
 '10': 18,
 'min': 2911,
 'comfy': 1200,
 'relaxing': 3615,
 'one': 3136,
 'block': 817,
 'bus': 945,
 'line': 2678,
 'residential': 3660,
 'private': 3437,
 'includes': 2396,
 'two': 4503,
 'comfortable': 1197,
 'single': 3953,
 'bath': 702,
 'half': 2185,
 'may': 2847,
 '1': 17,
 '2': 141,
 'light': 2667,
 'breakfast': 888,
 'included': 2395,
 'ac': 377,
 'super': 4236,
 'plus': 3351,
 'big': 782,
 'outer': 3174,
 'interested': 2448,
 'downtown': 1578,
 '45': 249,
 'minute': 2925,
 'ride': 3704,
 'via': 4617,
 'also': 485,
 'step': 4144,
 'arnold': 579,
 'arboretum': 564,
 'nature': 3011,
 'gift': 2087,
 'driveway': 1599,
 '5': 271,
 'rosi': 3753,
 'square': 4108,
 'catch': 1026,
 'train': 4436,
 '15': 59,
 'huge': 2340,
 'basement': 695,
 'studio': 4189,
 '736': 321,
 'sq': 4106,
 '68': 310,
 'meter': 2884,
 'separate': 3867,
 'entrance': 1724,
 'low': 2748,
 'exterior': 1813,
 '60': 296,
 'tall': 4280,
 'interior': 2451,
 'height': 2253,
 '99': 362,
 'area': 572,
 'separated': 3868,
 '3': 204,
 '4': 239,
 'wall': 4672,
 'open': 3142,
 'plan': 3329,
 'leather': 2639,
 'couch': 1338,
 'convert': 1299,
 '44wide': 248,
 'accommodate': 392,
 'gluten': 2108,
 'vegan': 4599,
 'vegetarian': 4601,
 'spoil': 4096,
 'beautifully': 732,
 'maintained': 2790,
 'grand': 2131,
 'built': 929,
 'circa': 1123,
 '1924': 118,
 'spectacular': 4082,
 'view': 4628,
 'nearby': 3018,
 'skyline': 3972,
 'treated': 4460,
 'delicious': 1467,
 'continental': 1282,
 'morning': 2961,
 'find': 1900,
 'sleep': 3982,
 'spacious': 4063,
 'queen': 3498,
 'awake': 648,
 'melodious': 2868,
 'sound': 4050,
 'bird': 792,
 'chirping': 1107,
 'nice': 3061,
 '6': 295,
 'mile': 2906,
 '30': 205,
 'plenty': 3349,
 'everything': 1767,
 'need': 3026,
 'make': 2795,
 'true': 4483,
 'combine': 1190,
 'adjacent': 417,
 'people': 3266,
 'comfortably': 1198,
 'located': 2705,
 'quite': 3514,
 'near': 3017,
 'business': 947,
 'shop': 3917,
 'close': 1148,
 'beautiful': 731,
 '20': 142,
 'yard': 4814,
 'semi': 3857,
 'first': 1915,
 'porch': 3372,
 'great': 2134,
 'transport': 4447,
 'cambridge': 981,
 'amazing': 491,
 'recently': 3562,
 'remodeled': 3626,
 'offering': 3119,
 'place': 3326,
 'station': 4134,
 'love': 2741,
 'coziness': 1359,
 'good': 2118,
 'couple': 1350,
 'solo': 4029,
 'adventurer': 429,
 'traveler': 4452,
 'kid': 2552,
 'space': 4061,
 'explore': 1801,
 'trendy': 4469,
 'hip': 2284,
 'part': 3230,
 'jamaica': 2489,
 'plain': 3328,
 'warm': 4688,
 'abode': 369,
 'offer': 3118,
 'convenience': 1292,
 'yet': 4820,
 'nestled': 3045,
 'beaten': 729,
 'track': 4428,
 'fresh': 2000,
 'roasted': 3724,
 'coffee': 1171,
 'around': 580,
 'world': 4793,
 'awaits': 647,
 'along': 481,
 'thick': 4347,
 'slice': 3987,
 'freshly': 2001,
 'baked': 670,
 'artisan': 593,
 'bread': 886,
 'alcove': 459,
 'length': 2650,
 'month': 2954,
 'excellent': 1773,
 'relocating': 3621,
 'handsome': 2196,
 'colonial': 1183,
 'set': 3882,
 'tranquil': 4439,
 'side': 3938,
 'fully': 2018,
 'several': 3887,
 'easy': 1638,
 'commute': 1216,
 'nearest': 3019,
 'stop': 4160,
 'five': 1922,
 'shopping': 3919,
 'arcade': 565,
 'laundry': 2619,
 'wifi': 4747,
 'villa': 4630,
 'friendliest': 2006,
 'safest': 3783,
 'overlooking': 3184,
 'utility': 4583,
 'le': 2632,
 'lovely': 2744,
 'sun': 4222,
 'cottage': 1336,
 'landscaped': 2596,
 'lot': 2735,
 'newly': 3058,
 'renovated': 3633,
 'provides': 3466,
 'peaceful': 3257,
 'setting': 3883,
 'happy': 2204,
 'help': 2256,
 'needed': 3027,
 'guide': 2168,
 'book': 844,
 'upon': 4565,
 'arrival': 586,
 'think': 4349,
 'listing': 2685,
 'destined': 1503,
 'best': 771,
 'airbnb': 452,
 'atop': 615,
 'metropolitan': 2888,
 'hill': 2280,
 'expansive': 1792,
 'higher': 2269,
 'uncovered': 4521,
 'sunrise': 4232,
 'like': 2669,
 'beach': 722,
 'exotic': 1789,
 'greet': 2147,
 'travel': 4451,
 'adventure': 428,
 'three': 4358,
 'backyard': 664,
 'playroom': 3342,
 'brings': 905,
 'forest': 1966,
 'orange': 3153,
 'commuter': 1217,
 'rail': 3525,
 'modern': 2941,
 'immaculate': 2375,
 'town': 4421,
 'fun': 2020,
 'perfect': 3268,
 'option': 3149,
 'small': 3996,
 'child': 1098,
 'without': 4767,
 'want': 4681,
 'stocked': 4153,
 'nan': 3000,
 'peter': 3285,
 'restored': 3679,
 '1884': 101,
 'victorian': 4624,
 'marble': 2815,
 'within': 4766,
 'walking': 4668,
 'distance': 1538,
 'getting': 2083,
 'message': 2882,
 'new': 3052,
 'totally': 4407,
 'apt': 557,
 'aproximately': 556,
 'bright': 900,
 '2nd': 199,
 'anybody': 524,
 '1180': 36,
 'ft': 2014,
 'live': 2689,
 'blding': 809,
 'mother': 2968,
 'amenity': 499,
 'might': 2903,
 'iron': 2468,
 'board': 826,
 'toaster': 4385,
 'maker': 2796,
 'blow': 818,
 'cook': 1304,
 'favorite': 1862,
 'food': 1957,
 'relax': 3612,
 'entertain': 1718,
 'trinket': 4475,
 'collected': 1178,
 'placed': 3327,
 'thoughtfully': 4356,
 'throughout': 4361,
 'conveniently': 1294,
 'end': 1699,
 'harvard': 2219,
 'cut': 1413,
 'path': 3244,
 'dinning': 1519,
 'featured': 1867,
 'magazine': 2780,
 'quirky': 3512,
 'collection': 1179,
 'antique': 523,
 'adult': 425,
 'pug': 3478,
 'named': 2999,
 'rita': 3716,
 'rose': 3751,
 'tree': 4461,
 'top': 4400,
 'fantastic': 1847,
 'updated': 4557,
 'futon': 2033,
 'fixture': 1924,
 'appliance': 542,
 'third': 4350,
 'hdtv': 2232,
 'wireless': 4764,
 'internet': 2455,
 'spot': 4099,
 'bar': 685,
 'convenient': 1293,
 'location': 2707,
 'another': 520,
 '9': 347,
 '492205': 257,
 'com': 1188,
 'phone': 3292,
 'number': 3098,
 'hidden': 2265,
 'group': 2158,
 'priced': 3425,
 'separetely': 3870,
 'section': 3841,
 'get': 2081,
 'drive': 1597,
 '7': 315,
 'hold': 2292,
 'cost': 1333,
 'used': 4577,
 'called': 978,
 'sub': 4198,
 'urban': 4571,
 'vacationing': 4588,
 'name': 2998,
 'rest': 3672,
 'vista': 4647,
 'feast': 1864,
 'mere': 2879,
 'snuggle': 4010,
 'gracious': 2127,
 'beauty': 733,
 'countryside': 1348,
 'proximity': 3471,
 'diverse': 1543,
 'write': 4799,
 'looking': 2732,
 'far': 1851,
 'city': 1127,
 'run': 3772,
 'supermarket': 4243,
 'ask': 603,
 'treat': 4459,
 'respectfully': 3665,
 'mean': 2859,
 'smoking': 4004,
 'cleaning': 1141,
 'twin': 4502,
 'west': 4726,
 'roxbury': 3764,
 'please': 3345,
 'note': 3087,
 'dog': 1553,
 'life': 2665,
 'rolsindale': 3735,
 'hard': 2209,
 'wood': 4776,
 'dining': 1517,
 'study': 4190,
 'outside': 3177,
 'patio': 3247,
 'eating': 1641,
 'summer': 4219,
 'well': 4721,
 'lit': 2686,
 'park': 3221,
 'laundromat': 2618,
 'car': 1005,
 'complimentary': 1231,
 'toast': 4383,
 'way': 4706,
 'long': 2725,
 'drier': 1594,
 'w': 4657,
 'beam': 725,
 'lower': 2749,
 'level': 2656,
 'country': 1347,
 'feel': 1874,
 '40': 240,
 'golf': 2116,
 'course': 1352,
 'smoke': 4002,
 'bank': 682,
 'welcome': 4718,
 'typical': 4505,
 'affordable': 438,
 'rate': 3537,
 '1bd': 128,
 'closest': 1153,
 '15mins': 68,
 'walkscore': 4669,
 '89': 341,
 'unrestricted': 4551,
 'value': 4590,
 'attic': 623,
 'hardwood': 2211,
 'skylight': 3971,
 'kitchenette': 2562,
 'bakery': 671,
 'equipped': 1737,
 'law': 2623,
 'owner': 3189,
 'lined': 2679,
 'corner': 1329,
 'property': 3459,
 'heart': 2241,
 'vibrant': 4619,
 'sofa': 4021,
 'spare': 4068,
 '5min': 291,
 '15min': 67,
 'iine': 2371,
 'bay': 709,
 'newbury': 3056,
 'st': 4110,
 'charles': 1068,
 'river': 3717,
 'quincy': 3510,
 'crossing': 1382,
 'chinatown': 1105,
 'etc': 1753,
 '10min': 29,
 'historic': 2286,
 'cemetery': 1038,
 '20min': 156,
 'pond': 3365,
 'cared': 1009,
 '1920': 116,
 'farmhouse': 1854,
 'brookline': 910,
 'equal': 1731,
 '200': 143,
 'acre': 402,
 'read': 3548,
 'review': 3695,
 'vrbo': 4655,
 'loft': 2718,
 'subway': 4207,
 'bike': 785,
 'equally': 1732,
 'driver': 1598,
 'ski': 3967,
 'lodge': 2714,
 'sky': 3969,
 'pine': 3317,
 'oasis': 3103,
 'got': 2121,
 'jp': 2525,
 'many': 2810,
 'fine': 1902,
 '39': 224,
 'go': 2110,
 'bfa': 776,
 'bpl': 877,
 'copley': 1321,
 '3rd': 237,
 'approximately': 554,
 '12': 38,
 'either': 1658,
 'green': 2139,
 'approx': 553,
 'bunch': 933,
 'anne': 519,
 'luxurious': 2767,
 'burgeoning': 941,
 'galore': 2045,
 'stony': 4157,
 'brook': 909,
 'abundance': 374,
 'cafe': 972,
 'moment': 2948,
 'together': 4390,
 'priv': 3435,
 'crib': 1377,
 'gear': 2063,
 'eco': 1646,
 'lgbtq': 2659,
 'household': 2329,
 'comprised': 1233,
 'working': 4790,
 'musician': 2992,
 'quick': 3503,
 'centre': 1044,
 'bustling': 951,
 'whole': 4740,
 'different': 1512,
 'direction': 1522,
 'transit': 4445,
 'environment': 1728,
 'lighting': 2668,
 'roommate': 3747,
 'townhouse': 4423,
 'consists': 1269,
 'downstairs': 1576,
 'main': 2787,
 'gorgeous': 2120,
 'style': 4193,
 'truly': 4484,
 'wonderful': 4774,
 'common': 1210,
 'mbta': 2853,
 'unique': 4534,
 'accommodating': 395,
 'personal': 3283,
 'possession': 3383,
 'term': 4323,
 'including': 2397,
 'artist': 594,
 'collective': 1180,
 'excited': 1778,
 'culture': 1398,
 'cooperative': 1318,
 'sam': 3796,
 'adam': 408,
 'brewery': 895,
 'southwest': 4056,
 'corridor': 1332,
 'trail': 4435,
 'ula': 4509,
 'feed': 1873,
 'supply': 4246,
 'bella': 753,
 'luna': 2761,
 'milky': 2907,
 'lounge': 2738,
 'stonybrook': 4158,
 'chilacates': 1097,
 'ambiance': 494,
 'outdoors': 3173,
 'dose': 1570,
 'visit': 4641,
 'franklin': 1991,
 'pub': 3476,
 '4min': 266,
 'stroll': 4182,
 'picnic': 3304,
 'even': 1759,
 'rent': 3635,
 'rowboat': 3762,
 'take': 4275,
 'boylston': 876,
 'museum': 2989,
 'attraction': 624,
 'airy': 457,
 'surrounded': 4251,
 '25': 177,
 'commuting': 1218,
 'longwood': 2730,
 'closet': 1154,
 'bedside': 742,
 'table': 4271,
 'shelf': 3906,
 'dresser': 1591,
 'young': 4827,
 'cat': 1025,
 'toddler': 4388,
 'playground': 3341,
 'medical': 2863,
 'lars': 2608,
 'anderson': 512,
 'emerald': 1683,
 'necklace': 3025,
 'bicycle': 779,
 'pullout': 3481,
 'share': 3898,
 'j': 2481,
 'p': 3191,
 'lick': 2663,
 'bukhara': 930,
 'indian': 2405,
 'bistro': 797,
 'wonder': 4772,
 'spice': 4087,
 'residence': 3657,
 'hippest': 2285,
 'serene': 3874,
 'trip': 4476,
 'airport': 456,
 'fold': 1949,
 'daylight': 1437,
 'welcoming': 4720,
 'lugares': 2758,
 'de': 1439,
 'inter': 2445,
 'walter': 4678,
 'gate': 2058,
 'mi': 2894,
 'alojamiento': 479,
 'e': 1626,
 'bueno': 925,
 'para': 3213,
 'aventureros': 640,
 'professional': 3446,
 'route': 3759,
 'direct': 1520,
 'base': 691,
 'secnds': 3839,
 'hi': 2264,
 'double': 1572,
 '1895': 104,
 'cool': 1312,
 'sorry': 4045,
 'late': 2611,
 'university': 4542,
 'college': 1181,
 'heating': 2248,
 'central': 1042,
 'sheet': 3905,
 'towel': 4418,
 'guaranteed': 2163,
 'bodega': 835,
 'never': 3051,
 'hungry': 2346,
 'venturing': 4607,
 'call': 977,
 'somerville': 4033,
 'considering': 1267,
 'mattress': 2843,
 'lucia': 2755,
 'rapid': 3534,
 'longterm': 2729,
 'international': 2454,
 'grad': 2128,
 'doctorate': 1552,
 'student': 4188,
 'zoo': 4841,
 'host': 2315,
 'hubway': 2338,
 'zipcar': 4839,
 'renting': 3640,
 'beacon': 724,
 'maintain': 2789,
 'kosher': 2575,
 'website': 4710,
 'traveling': 4453,
 'aloud': 483,
 'hour': 2324,
 'answering': 522,
 'thanks': 4336,
 'linen': 2680,
 'supplied': 4245,
 'pull': 3479,
 'cot': 1335,
 'added': 410,
 'ten': 4318,
 'neighbourhood': 3037,
 'nation': 3006,
 'gq': 2125,
 'outdoor': 3172,
 'easily': 1633,
 'providing': 3467,
 'northeastern': 3083,
 'door': 1565,
 'always': 490,
 'brendan': 893,
 'behan': 748,
 'tres': 4470,
 'gatos': 2060,
 'retreat': 3688,
 'gentrified': 2077,
 'next': 3060,
 'pleasant': 3344,
 'layout': 2627,
 'landing': 2592,
 'old': 3130,
 'england': 1705,
 'triple': 4477,
 'decker': 1452,
 'adorable': 422,
 'yoga': 4823,
 'arched': 566,
 'east': 1634,
 'south': 4051,
 'stunning': 4192,
 'furniture': 2030,
 'mosaic': 2965,
 'soaking': 4014,
 'tub': 4489,
 'hotel': 2321,
 'microwave': 2896,
 'refrigerator': 3590,
 'induction': 2410,
 'purple': 3488,
 'cactus': 970,
 'blue': 819,
 'frog': 2009,
 'friend': 2005,
 'dead': 1441,
 'wild': 4752,
 'wooded': 4779,
 'story': 4167,
 'range': 3532,
 'community': 1215,
 'steal': 4138,
 'admire': 420,
 'sculpture': 3824,
 'expands': 1791,
 'hospital': 2313,
 'yr': 4829,
 'son': 4037,
 'sweet': 4262,
 'feeling': 1875,
 'centrally': 1043,
 'happily': 2203,
 'accommodates': 394,
 'treetop': 4464,
 'coveted': 1358,
 'across': 403,
 'lush': 2764,
 'drenched': 1589,
 'feature': 1866,
 'elliptical': 1675,
 'exercise': 1785,
 'machine': 2775,
 'original': 3163,
 'artwork': 599,
 'soothing': 4041,
 'exploring': 1802,
 'major': 2794,
 'heading': 2235,
 'stair': 4117,
 'mobility': 2937,
 'must': 2993,
 'pristine': 3434,
 'decor': 1455,
 'carriage': 1017,
 'refurbished': 3593,
 'neighbor': 3034,
 'piano': 3298,
 'office': 3121,
 'air': 450,
 'heat': 2244,
 'netflix': 3048,
 'amble': 496,
 'past': 3240,
 'head': 2234,
 'straight': 4171,
 'eat': 1639,
 'locally': 2703,
 'owned': 3188,
 'bookstore': 848,
 'vintage': 4636,
 'clothes': 1155,
 'ice': 2364,
 'cream': 1369,
 'quaint': 3494,
 'theater': 4340,
 'literally': 2687,
 'ample': 508,
 'detached': 1504,
 'site': 3958,
 'await': 646,
 'awesome': 653,
 '1000': 20,
 'handicapped': 2193,
 'emerging': 1685,
 'artsy': 598,
 'meditation': 2864,
 'teacher': 4301,
 'firefighter': 1909,
 'writing': 4801,
 'reading': 3549,
 'chair': 1051,
 'kitty': 2565,
 'hammock': 2189,
 'really': 3553,
 'jackson': 2483,
 'n': 2996,
 'decorated': 1456,
 'generous': 2072,
 'meeting': 2867,
 'creative': 1375,
 'artistic': 595,
 'atmosphere': 614,
 'extra': 1814,
 'pillow': 3314,
 'blanket': 805,
 'lock': 2708,
 'whatever': 4732,
 'desire': 1496,
 'chinese': 1106,
 'spanish': 4067,
 'vacation': 4587,
 'rental': 3637,
 'year': 4818,
 'reasonable': 3556,
 'price': 3424,
 'ideal': 2367,
 'anyone': 525,
 '11': 32,
 'contains': 1279,
 '1880': 99,
 'mansard': 2806,
 'sits': 3959,
 'spending': 4086,
 'time': 4373,
 'perfectly': 3269,
 'situated': 3961,
 'completely': 1229,
 '2014': 152,
 'prime': 3429,
 'pondside': 3366,
 'fisherman': 1917,
 'ballard': 677,
 'sunset': 4234,
 'process': 3443,
 'remodeling': 3627,
 'keeping': 2537,
 'character': 1063,
 'adding': 411,
 'balcony': 675,
 'gem': 2067,
 'celiac': 1036,
 'tastefully': 4291,
 'ready': 3551,
 '37': 221,
 'flat': 1928,
 'screen': 3820,
 'restful': 3677,
 'numerous': 3099,
 'sitting': 3960,
 'galley': 2043,
 'ave': 638,
 'america': 500,
 'veteran': 4616,
 'school': 3815,
 'sunroom': 4233,
 'unbeatable': 4517,
 'parent': 3216,
 'ring': 3709,
 'featuring': 1868,
 'sparkly': 4070,
 'anywhere': 528,
 'organic': 3157,
 'br': 878,
 'pack': 3193,
 'monument': 2957,
 'picture': 3305,
 'detail': 1505,
 'request': 3645,
 'electricity': 1662,
 'reimbursed': 3608,
 'curtis': 1409,
 'hall': 2187,
 'coin': 1176,
 'operated': 3145,
 'warmer': 4689,
 'day': 1434,
 '2bd': 188,
 'could': 1341,
 'getaway': 2082,
 'lady': 2584,
 'library': 2662,
 'face': 1824,
 'electric': 1660,
 'look': 2731,
 'stone': 4155,
 'throw': 4362,
 'would': 4796,
 'regular': 3604,
 'fancy': 1840,
 'homey': 2297,
 'relative': 3611,
 'brand': 880,
 'channel': 1062,
 'furnishing': 2029,
 'provide': 3464,
 'natural': 3010,
 'fiber': 1887,
 'feather': 1865,
 'allergen': 465,
 'kind': 2554,
 'allowed': 472,
 'divider': 1546,
 'shown': 3930,
 'night': 3067,
 'accommodation': 396,
 'check': 1080,
 ...}

##### 3.4) Data Modeling

[Outline placeholder for data modeling section]

##### 3.5) Results Evaluation

[Outline placeholder for evaluation of model and possible re-modeling]

##### 3.6) Deployment

[Outline placeholder for what deployment steps would be]

#### 4. Conclusion

[Outline placeholder for final remarks]